.b1{
  height:300px;
  width:490px;
  margin-top: 80px;
  margin-bottom: 200px;

}
.b2{
  font-size: 20px;
  height:18px;

}

.b4{
  background: #FF512F;
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
  background: linear-gradient(to right, #DD2476, #FF512F);

margin-right:140px;
 width: 120px;
 color: white;
 border-radius: 12px 12px 12px 12px;
}
.b8{
  color: white;
  border-radius: 12px 12px 12px 12px;
background: #bc4e9c;
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
background: linear-gradient(to right, #f80759, #bc4e9c);
  width:130px;
}
.b5{
  align-items: center;
  margin-top: 3px;
  width:50px;
  height:19px;
  font-size: 10px;
}

.b7{
  padding-right: 15px;
  margin: 3px;
  width:270px;
  margin-left: 90px;

}
