.a1{
  height: 565px;

background: #CB356B;
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
background: linear-gradient(to right, #BD3F32, #CB356B);

}
.a2{
  margin-top:17px;

  margin: 10px;
  height:261px;
  width:200px;
}
.a3{
  height:150px
}
.a4{
  height:600px
}
.w2{
  border-radius: 61px 61px 61px 61px;
  background:white;

}
.w1{
  border-radius: 11px 11px 11px 11px;
  background: red;
  color:white;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  background: linear-gradient(to right, #93291E, #ED213A);


}
